<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>

    <main role="main" class="flex col-md-9 ml-sm-auto" style="flex: 1 0 auto;">
      <br>
      <h1>Bienvenido al Panel Administrador|Bucaros</h1>
      <br>
      <h2>Por favor lea las indicaciones:</h2>
      <p>En el menu de la parte superior izquierda puede observar la barra de navegacion del panel,Elija la ubicacion y/o seccion a la que desea acceder y luego click para navegar</p>
    </main>
    
  </body>
  <script src="admin.js"></script>
</html>
