.containerBackg{
    background-image: url('a.jpg');
    background-size:auto;
    background-repeat: no-repeat;
}

.jumbotron{
    height: 700px;
}

.text-center p{
    background-color: yellow;
}

.text-muted{
    color: black !important;
}