header hr{
    width: 100%;
    height: 2px;
    background: rgb(232,255,0);
    background: linear-gradient(90deg, rgba(232,255,0,1) 0%, rgba(255,239,0,0.6699054621848739) 58%, rgba(211,255,0,0) 100%);
}

body {
    font-size: .875rem;
}


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
  
  /*
   * Sidebar
   */
  
.sidebar {
  position: fixed;
  top: 12%;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

main{
  padding: 0 !important;
  margin:0
}
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    margin-top: 3%;
    /**/
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */

   .navbarD {
    margin-top: 0.1%;
   }
  
  .navbarD-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbarD .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbarD .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  

@media (max-width: 768px) {
    div ul li a{
        background-color: rgba(232,255,0,1);
        text-align: center;
        color: rgb(99, 100, 90) !important;
    }
    .center-form{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .formRol{
        /*margin-left: 30%;*/
        /*margin: 0 auto;*/
        margin-top: 10px;
        /*border: 2px solid red;*/
        align-items: center;
    }
    form ul{
        /*margin-left: 30%;*/
        border: 1px solid rgb(99, 100, 90);
        border-style: outset;
        border-width: 10px;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .sidebar-sticky-show {
        width: 100%;
    }

    .sidebar-sticky-collapse {
        width: 0;
        transition: width 0.2s;
    }
}

/* Ocultar sidebar-sticky en pantallas menores a 768px por defecto */

/*
#sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  z-index: 1;
}*/

@media (max-width: 767px) {
  #sidebar {
    display: block;
  }

  #navbarToggler2 {
    display: block;
  }

  main {
    padding: 0% !important;
    margin-left: 3px; 
    margin-right: 10px;
  }
}  

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 12%;
    left: 0;
    overflow-y: hidden;
  }

}

@media (max-width: 361px) {
  .navbarD{
    width: 100%;
    position: fixed !important;
    top:5px ;
    background-color: #333;
    z-index: 1022
  }
  /*desplegable*/
  .sidebar-sticky{
    padding: 0;
    background-color: #333;
    height: 110px;
    position: fixed;
    top:0;
    margin-top: calc(30% + 0.1%); /* ajusta el margin-top según la posición de .div2 */
    width: 99%;
    
    z-index: 1021; /* para asegurarte de que esté sobre otros elementos */
  }
  .sidebar-stickyFixed{
    padding: 0;
    background-color: #333;
    height: 110px;
    position: fixed;
    top:0;
    margin-top: calc(15% + 0.1%); /* ajusta el margin-top según la posición de .div2 */
    width: 99%;
    
    z-index: 1021; /* para asegurarte de que esté sobre otros elementos */
  }
  .sticky-top{
    margin-top: 15%;
    background-color: #333;
  }
  .navbarD .stuck {
    width: 100%;
    margin-top: 0 !important;
    top: 0 !important; /* Margen ajustado al hacer scroll */
  }

  #sidebar{
    height: 20px;
  }
  /*.stuck2{
    background-color: #333;


  }*/

  /* para el fondo*/
  .stuck3{
    background-color: #333;
    height: 110px;
    position: fixed;
    margin-top: 14% !important; /* ajusta el margin-top según la posición de .div2 */
    width: 99%;
    top: 0;
    padding: 0 !important;  
    /*z-index: 1021;  para asegurarte de que esté sobre otros elementos */

  }
}