header hr{
    width: 100%;
    height: 2px;
    background: rgb(232,255,0);
    background: linear-gradient(90deg, rgba(232,255,0,1) 0%, rgba(255,239,0,0.6699054621848739) 58%, rgba(211,255,0,0) 100%);
}

@media (max-width: 768px) {
    div ul li a{
        background-color: rgba(232,255,0,1);
        text-align: center;
        color: rgb(99, 100, 90) !important;
    }
    .center-form{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .formRol{
        /*margin-left: 30%;*/
        /*margin: 0 auto;*/
        margin-top: 10px;
        /*border: 2px solid red;*/
        align-items: center;
    }
    form ul{
        /*margin-left: 30%;*/
        border: 1px solid rgb(99, 100, 90);
        border-style: outset;
        border-width: 10px;
        text-align: center;
    }
}